build
certs
dist
venv
env
.idea
*.pyc
*~
.coverage
cover
busybox.tar
calico-node.tar
routereflector.tar
calicobuild.created
caliconode.created
calico_containers/pycalico.egg-info/
busybox.tgz
calico-node-libnetwork.tgz
calico-node.tgz
calicoctl
docker

